<%= form_for @draw_list, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title", class: "control-label" %>
    <%= f.text_field :title, required: true, autocomplete: :off,
          class: "form-control" %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" do %>
    <i class="fa fa-save"></i> Save
  <% end %>
<% end %>
